name: Build Binaries
on:
  release:
    types: [published]

jobs:
  Build-And-Release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ macos-latest, ubuntu-latest, windows-latest ]
        arch: [ x86_64, aarch64 ]

    steps:
      - uses: actions/checkout@v6
      - name: Build artefacts
        run: |
          TARGET=$([[ "${{ matrix.os }}" == "ubuntu-latest" ]] && echo "${{ matrix.arch }}-unknown-linux-gnu" || [[ "${{ matrix.os }}" == "windows-latest" ]] && echo "${{ matrix.arch }}-pc-windows-msvc" || echo "${{ matrix.arch }}-apple-darwin")
          cargo build --release --target $TARGET
          mkdir -p release/${TARGET}
          cp target/$TARGET/release/cidit release/${TARGET}/
          tar -czf cidit-${{ matrix.os }}-${{ matrix.arch }}.tar.gz -C release/${TARGET} cidit
          ls -la