name: Test
on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Build
        run: cargo build
      - name: Run tests
        run: cargo test